---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;
$left-right-padding: 130px;

$text-color:       #000;
$background-color: #fdfdfd;
// $background-color: #f00;
$brand-color:      #2a7ae2;

// tags and category
$category-text-color: white;
// OLD
//$tag-background-color: $brand-color;
// LIGHT
// $category-background-color: gray;
// $tag-background-color: lightgray;
// DARK
$tag-background-color: #AAA;
$category-background-color: #888;

// Code
$code-font-family: monospace;
$code-font-size: 16px;

// use Gray, LightGray, DarkGray instead
// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

$header-height: 250px;
$article-title-padding: 50px 0;

// Width of the content area
// This includes both sidebar and main

$content-width:   1000px;
$max-content-width: 1600px; 

$two-column-main-percent: 70%;
$two-column-sidebar-percent: 30%;

$on-palm:          640px;
$on-laptop:        1000px;

// Twitter, Github, RSS icons (inline SVG)
$social-icon-color: Gray; 

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
{% comment %}
{% if site.number_of_column == 2 %}
// 2 Column Layout
.col_width { width: 2em;}
{% else %}
// 1 Column Layout: default
.col_width { width: 1em;}
{% endif %}
{% endcomment %}

/* temp debugging */
// .site-nav {background-color:gold;}
// .site-header {background-color:purple;}
// .site-footer {background-color:purple;}
// .post-content {background-color:thistle;}
// .post{background-color:powderblue;}
// .post-header {background-color:peru;}
// aside {background-color: red; }
// // #sidebar {background-color: red;}
// .responsive-wrapper {background-color: black;}
// .content {background-color: orange;}
// .pagination {background-color: lightgreen;}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base";
@import "layout";
@import "syntax-highlighting";
@import "header";
@import "footer";
@import "page_post";
@import "pagination";
@import "category_tag";
