<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- IE8 support for HTML5 -->
  <!--[if lte IE 8]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>script>
  <![endif]-->

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/toc.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{site.url}}/css/pojoaque.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "feed.xml" | prepend: site.url }}" />

  <!-- ShareThis -->
  {% if site.sharethis %}
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "{{site.sharethis}}" , doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
  {% endif %}

  <!-- SumoMe -->
  {% if site.sumome %}
  <script src="//load.sumome.com/" data-sumo-site-id="{{ site.sumome }}" async="async"></script>
  {% endif %}

</head>
