 // Categories and tags
@mixin category_tag_common {
	//font-family: $code-font-family;
    //font-size: $code-font-size;
	font-size: .6em;
    //border: 1px solid lightGray;
    //border-radius: 3px;
	//line-height: 1.5em;
	letter-spacing: .05em;
	//padding: 0px 4px;
	padding: .3em .6em;
	color: $category-text-color;
	text-align: center;
    text-decoration: none;
	text-transform: uppercase;
    display: inline-block;
	border-radius: 6px;  // rounded 
    background-color: $category-background-color;
}
a.category
{
	@include category_tag_common;
    background-color: $category-background-color;
}
a.tag
{
	@include category_tag_common;
    background-color: $tag-background-color;
}
