/**
 * 
 */

/* content area, main text */
// .content {
// padding: $spacing-unit 0;
// }


// In index.html
// however, some of these are not being used
.article-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}
.article-link {
    display: block;
    font-size: 24px;
}

// Date, Author, Tags in post
.article-meta {
    font-size: $small-font-size;
    color: Gray;
}

// // TODO: should be renamed content-header
// // or 
// .post-header {
//     margin-bottom: $spacing-unit;
// 	// position: absolute;  // experimenting 
// 	// padding: 0px 0;
// 	// display: block;
// 	// padding: $article-title-padding;
//
// }

// page/posts/ article-title
// This is used in /index.html, 
// listing all the articles and its titles
.article-title {
    //font-size: 42px;
    //font-size: 1.4em;
    //letter-spacing: -1px;
    //line-height: 1.5em;
}
/* NOT USED??? */
article {
    font-size: 1.3em;

}
// article{
//     margin-bottom: $spacing-unit;
//
//     h2 {
//         font-size: 32px;
//
//         @include media-query($on-laptop) {
//             font-size: 28px;
//         }
//     }
//
//     h3 {
//         font-size: 26px;
//
//         @include media-query($on-laptop) {
//             font-size: 22px;
//         }
//     }
//
//     h4 {
//         font-size: 20px;
//
//         @include media-query($on-laptop) {
//             font-size: 18px;
//         }
//     }
// }
//
