/* partially based on http://www.wpbeginner.com/wp-themes/how-to-add-numeric-pagination-in-your-wordpress-theme/  */
.pagination a,
.pagination a:hover,
.pagination .active a,
.pagination .disabled {
	color: #fff;
	text-decoration:none;
}

.pagination {
	// display: inline;
	// display: block;
	// margin: 0 auto; width: 100%;

	// Center 
	text-align: center;
}

.pagination a,
.pagination a:hover,
.pagination .active a,
.pagination .disabled_link {
	cursor: pointer;
	background-color: #6FB7E9;
	border-radius: 3px;
	// padding: 12px;  TOO BIG
	// padding: 0.75rem;
	padding: 4px;
	padding: 0.2rem;
}
.pagination .disabled_link {
	background-color: #DDD;
	cursor: auto;
}

.pagination a:hover {
// .pagination .active a {
	background-color: #3C8DC5;
}

.read-more { }
