{% comment %}
Not completed Yet
TODO: add two-column-1 in CSS
{% endcomment %}
<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}
<!-- <div class="responsive&#45;wrapper"> -->
<!-- <div class="testcontent"> -->
<!-- This is responsive Content. -->
<!-- </div> -->
<!-- </div> -->

    <!-- <div class="wrapper"> -->
<div class="two-column-content wrapper">
  <main >
    <!-- <div class="wrapper"> -->
      {{ content }}
    <!-- </div> -->
  </main>
      {% include sidebar.html %}
</div>
<!-- </div> -->

{% include footer.html %}

</body>

</html>
