<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}
<!-- <div class="responsive&#45;wrapper"> -->
<!-- <div class="testcontent"> -->
<!-- This is responsive Content. -->
<!-- </div> -->
<!-- </div> -->

    <!-- <div class="wrapper"> -->
<div class="responsive-wrapper wrapper">
  <div class="main-column ">
    <!-- <div class="wrapper"> -->
      {{ content }}
    <!-- </div> -->
  </div>
      {% include sidebar.html %}
</div>
<!-- </div> -->

{% include footer.html %}

</body>

</html>
